@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primaryColor: #fc2c14;
    --secondaryColor: #8a0303;
    --background: #e4eee4;
    --padding: 0px 5% 0px 5%;
}

#header {
    width: 100%;
    height: 8vh;
    padding: 0px 5% 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primaryColor);
}

.header-link {
    color: white;
    display: flex;
    align-items: center;
}

#header i {
    font-size: 18px;
}

.header-link span {
    margin-left: 12px;
    letter-spacing: 1px;
}

#header > div {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

#header-delivery {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: var(--secondaryColor);
    text-transform: uppercase;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    animation: deliveryAnimation 0.8s infinite alternate-reverse;
}

@keyframes deliveryAnimation{
    0%{
        background: var(--secondaryColor);
    }

    100%{
        background: var(--primaryColor);
    }
}

@media(max-width:700px){
    #header{
        display: none;
    }



}

nav {
    height: 10vh;
}

.nav-wrapper {
    padding: var(--padding);
}

.nav-wrapper a{
    color: var(--primaryColor);
}

.sidenav img {
    width: 100%;
}

.brand-logo img {
    width: 200px;
    height: 10vh;
}

@media(max-width: 700px){
    .sidenav .header-link i{
        margin-right: 0px;
        font-size: 24px;
    }

    .sidenav .header-link{
        border: 1px solid black;
    }

}

.carousel { 
    height: 70vh;
    position: relative;
}

.carousel img {
    object-fit: cover;
}

.carousel i {
    position: absolute;
    z-index: 100000;
    color: white;
    font-size: 38px;
    top: 50%;
    transform: translateY(-50%);
}

.fa-arrow-right {
    right: 5%;
    cursor: pointer;
}

.fa-arrow-left {
    cursor: pointer;
    left: 5%;
}

@media(max-width:700px){
    .carousel {
        height: 30vh;
    }

    .carousel i{
        font-size: 24px;
    }

}

#delivery .call {
    padding: 5% 10%;
    color: white;
    background: var(--primaryColor);
}

#delivery span {
    color: black;
    font-weight: bold;
}

#delivery h5 {
    font-size: 32px;
    margin-bottom: 48px;
}

.call-button {
    border-radius: 24px;
    padding: 10px 150px;
    background: black;
    color: var(--primaryColor);
}

#delivery .order {
    padding: 5% 5%;
    background: var(--background);
}

.input-group {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}

.input-groups {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 45%;
}

label {
    text-transform: uppercase;
    color: black;
}

input {
    padding: 5px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.2);
}

.callback {
    cursor: pointer;
    padding: 10px 15px;
    background: var(--primaryColor);
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media(max-width:700px){
    .call-button {
        padding: 10px 100px;
    }

    .input-groups .input-group {
        width: 100%;
    }

    #delivery h5 {
        font-size: 22px;
        margin-bottom: 24px;
    }    

    #delivery .call{
        width: 100%;
    }

}

#aboutUs , #storeLocation, #about, #gallery{
    width: 100%;
    padding: 5% 10%;
}

#aboutUs p , #storeLocation p{
    font-size: 18px;
    line-height: 28px;
}

#storeLocation > div #loca-data{
    width: 50%;
}

#storeLocation > div {
    display: flex;
    justify-content: space-between;
}

@media(max-width:700px){
    #storeLocation > div {
        flex-direction: column;
    }

    #storeLocation iframe {
        width: 300px;
    }

    #storeLocation > div #loca-data{
        margin-top: 24px;
        width: 100%;
    }

}


#contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#contact div {
    width: 50%;
    padding: 2% 0px;
    display: flex;
    text-align: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact div h5 a{
    color: rgb(54, 54, 54);
    font-weight: bold;
    cursor: pointer;
}

#contact div:nth-child(1){
    background: var(--secondaryColor);
}

#contact div:nth-child(2){
    background: var(--primaryColor);
}

#contact a {
    border-radius: 12px;
    background: whitesmoke;
    padding: 10px 20px;
}

#contact i {
    margin-right: 18px;
}

@media(max-width: 700px){
    #contact div{
        width: 100%;
    }

    #contact div h5 {
        font-size: 18px;
    }

}

footer {
    background: black;
    padding: 2% 5%;
    color: #eee;
}

footer p {
    margin-top: 12px;
    line-height: 24px;
    font-size: 14px;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--primaryColor);
}

footer p a {
    margin: 0px 5px;
    color: white;
    font-size: 18px;
}

footer i{
    margin-right: 8px;
}

@media(max-width: 700px){
    footer h5{
        font-weight: bold;
        color: white;
    }
}

#about h4 {
    padding: 0px;
    margin: 0px;
    font-size: 64px;
    color: var(--primaryColor);
}

.service , .item{
    width: 23%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.item  {
    width: 100%;
    height: auto;
    background: white;
}

.item p {
    margin-top: 5px;
}

.item img {
    width: 100%;
    height: 25vh;
    display: block;
    object-fit: cover;
}

/* .item:nth-child(5),.item:nth-child(6),.item:nth-child(7),.item:nth-child(8){
    margin-top: 24px;
} */

.service:nth-child(5),.service:nth-child(6),.service:nth-child(7),.service:nth-child(8){
    margin-top: 24px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 24px;
    grid-gap: 20px;
}

#services {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width: 700px){
    .service {
        width: 100%;
        margin-bottom: 24px;
    }

    .items {
        grid-template-columns: repeat(1,1fr);
    }

}

 /* testimonials  */

 #testimonials {
    width: 100%;
    background: var(--secondaryColor);
    padding:5vh 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials h1 {
    text-align: center;
    color:white;
    font-size: 32px;
    margin-bottom: 5vh;
}

#test-wrapper{
    width: 55%;
    overflow: hidden;
}

.testimonials {
   width: 100%;
   transition: transform 1s ease-in-out;
   display: inline-flex;
}

.testimonials img {
   margin-right: 5px;
   width: 49.5%;
   height: 20vh;
}

#test-buttons {
   margin-top: 2%;
   display: inline-flex;
}

#test-buttons .box {
   cursor: pointer;
   width: 10px;
   height: 10px;
   background: white;
}

#test-buttons .box:nth-child(2){
   margin: 0px 5px;
}

@media(max-width:500px){

   #test-wrapper {
       width: 90%;
   }

   .testimonials img {
       margin-right: 0px;
       width: 100%;
   }

   #testimonials h1 {
       font-size: 24px;
   }

}

/* blogs */

#blogs {
    padding: 10vh 0px;
}

#blogs > a {
    display: none;
}

#blogs #routes {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
}

#routes a , #routes h1 {
    color:var(--secondaryColor);
    font-size: 28px;
}

#routes a {
    font-size: 24px;
    font-weight: bold;
}

.blogs {
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog {
    width: 350px;
    cursor: pointer;
}

.blog p {
    color:var(--textSecondary);
}

.blog img {
    width: 100%;
    height:30vh;
    object-fit: cover;
}

.blog a {
    padding:  0px !important;
    margin: 0px !important;
    width: 100%;
    color: black;
}

.blog h2 {
    margin: 0px !important;
    font-size: 22px;
}

@media(max-width:500px){

    #blogs #routes {
        margin-bottom: 5vh;
    }

    #blogs a {
        display: block;
        margin: 0px 10%;
        padding:10px 20px;
        text-align: center;
    }

    #routes a {
        display: none;
    }

    .blog {
        margin-bottom: 24px;
    }

}


#whatsapp {
    position: fixed;
    bottom: 5vh;
    right: 5%;
    z-index: 9999999;
    background: wheat;
    padding: 10px;
    border-radius: 50%;
}

#whatsapp img {
    width: 25px;
    height: 25px;
}